.cesium-viewer-bottom { display: none !important; }
.cesium-viewer-toolbar { display: none !important; }
.cesium-widget-credits { display: none !important; }
.cesium-infoBox { display: none !important; }
.cesium-viewer-animationContainer { display: none !important; }
.cesium-viewer-timelineContainer { display: none !important; }
